/* add your CSS here */
img{
	border:1px solid lightgray ;
	width: 300px;
}

#fact {
	font-style: italic;
}

ul{
	list-style-type: none;
}

.lable {
	font-weight: bold;
}

#container{
	border:1px solid lightgray ;
	width: 300px;
	padding: 5px;
	box-shadow: 8px 8px 10px gray;
}

#info{
	border:1px solid lightgray;
	padding: 5px;
}